body{
  font-family: background:#e7e2cf;
}
img{border:none;}

.container-fluid {
  background:url(images/bg3.jpg);
  width: auto;
  margin-right: 0px;
}
#titleDiv {
  padding-top:1px;
  padding-bottom:1px;
  border-width:auto;
  background:url(images/bg4.jpg);
  font-family: 'Lobster', cursive;
  color: rgba(0,0,0,1);
  text-shadow: .5px 0 0 #fff, -2px 0 0 #fff, 0 1px 0 #fff, 0 -2px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
  font-size: 18px;
}
/*Welcome to Pain Poitns Postcards*/
#maintTitle {
  font-size: 26px;
}

#certifiedStamp {
  width: 200px;
  margin-left: 620px;
  background-size: 300px 180px;
}
.zoomPic {
  margin: 30px;
  width: 300px;
  height: 180px;
  background-color: blue;
  background-image: url(http://placehold.it/1200x720);
  background-repeat:no-repeat;
  background-position:50% 50%;
  background-size: 300px 180px;
  
  -webkit-transition: all 2.5s ease-in-out;
  -moz-transition: all 2.5s ease-in-out;
  -ms-transition: all 2.5s ease-in-out;
  -o-transition: all 2.5s ease-in-out;
  transition: all 2.5s ease-in-out;
}
#certifiedStamp.zoom {
  background-size: 1200px 720px !important; 
}

#postcardView {
  text-shadow: .5px 0 0 #fff, -2px 0 0 #fff, 0 2px 0 #fff, 0 -2px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
  margin-left: 500px;
}

#bubblesDiv {
	position:relative;
}

/*Voting Section*/
#bubbleJumbo {
  font-family: 'Lobster';
	font:#000000;
  font-size: 16px;
	background:#e7e2cf;
	background:url(images/bg3.jpg);
  padding: 20px;
}
/*existingBubblesDiv (formerly "bubbleResults" divs) for each bubbles ('enjoy-css') divs here*/
    #existingBubblesDiv {
      margin-top: 50px;
      position:relative;
      float:top;
      padding-top: 100px;
      padding-bottom: 300px;
      background:url(corkboard.jpg);
      border-color: #000000;
    }
        /*Each bubbles' styling*/

.old-tv-screen {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  width: 200px;
  height: 150px;
  position: relative;
  margin: 20px 0;
  border: none;
  -webkit-border-radius: 50% / 10%;
  border-radius: 50% / 10%;
  font: normal 100%/normal Arial, Helvetica, sans-serif;
  color: white;
  text-align: center;
  text-indent: 0.1em;
  -o-text-overflow: clip;
  text-overflow: clip;
  background: #f7f727;
  -webkit-box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.3) ;
  box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.3) ;
}

.old-tv-screen:before {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  width: 200px;
  height: 150px;
  position: relative;
  content: "";
  margin: 20px 0;
  border: none;
  -webkit-border-radius: 50% / 10%;
  border-radius: 50% / 10%;
  font: normal 100%/normal Arial, Helvetica, sans-serif;
  color: white;
  text-align: center;
  text-indent: 0.1em;
  -o-text-overflow: clip;
  text-overflow: clip;
  background: #f7f727;
  -webkit-box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.3) ;
  box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.3) ;
  text-shadow: none;
}
       /* .old-tv-screen:hover {
          -webkit-box-shadow: 3px 5px 15px 2px rgba(0,0,0,0.4) , 0 0 2px 2px rgba(219,166,19,0.5) ;
          box-shadow: 3px 5px 15px 2px rgba(0,0,0,0.4) , 0 0 2px 2px rgba(219,166,19,0.5) ;
        }*/

        .bubbleText {
           font-size: 18px;
        }

/*Add a paint-point*/
#addBubbleJumbo {
  background:url(images/vintageMail.png);
  font-family: "Rokitt";
  background-size: auto;
  background-repeat: no-repeat;
}

.currentPostcard {
  -webkit-animation-name: jello;
  animation-name: jello;
  -webkit-transform-origin: center;
  transform-origin: center;
}

#customForm {
  background-size: auto;
}

#upVote {
  width: 20px;
}


